/*****hectoria*****/
/* #hectoria(headerfek1subypzu) #css starts  */
.headerfek1subypzu .btn-outline-primary{
    background-color: #5FCF80;
    color: black
}

.headerfek1subypzu .navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: #3AC162
}

/* #hectoria(headerfek1subypzu) #css ends  */
/*****hectoria*****/

/*****craig*****/
    /* #craig(calltoactionca75l1dtxe0) #css starts  */

    .calltoactionca75l1dtxe0 .btn-light {
        border: none;
        font-weight: bold;
    }
    .calltoactionca75l1dtxe0 .btn-light:hover {
        background-color: #5FCF80
    }
    .calltoactionca75l1dtxe0 .btn-dark:hover {
        font-weight: bold;
        border-color: #343A40;
        background-color: #343A40
    }
    /* #craig(calltoactionca75l1dtxe0) #css ends  */
/*****craig*****/

/*****flynn*****/
    /* #flynn(flynnpom0pcxyokh) #css starts  */
    .flynnpom0pcxyokh .fdb-block {
        padding: 7.5rem 0
     }
     .flynnpom0pcxyokh strong{
        color: #3AC162
     }
    /* #flynn(flynnpom0pcxyokh) #css ends  */
/*****flynn*****/

/*****cade*****/
 /* #cade(af598102c9dad94e) #css starts  */
 .counteraf598102c9dad94e{
    padding: 7.5rem 0
 }
 .counteraf598102c9dad94e h2{
    font-size: 44px;
    color: #3AC162   
}
.counteraf598102c9dad94e h4{
    font-size: 22px;
    color: #050D13
}
/* #cade(af598102c9dad94e) #css ends  */
/*****cade*****/

/*****fosil*****/
/* #fosil(fosilftkuy5166le) #css starts */
.fosilftkuy5166le .fdb-block h4{
    padding: 0px 0px 8px;
    color: #3AC162
}
/* #fosil(fosilftkuy5166le) #css starts */
/*****fosil*****/